.App {
  text-align: center;
  display: flex;
  color: #d4d4d4;
  overflow-y: hidden;
  background-color: #1e1e1e;
}

html,
body {
  height: 100%;
}

select,
button {
  color: #3dc9b0;
  border-style: solid;
  background-color: transparent;
  border-color: #3dc9b0;
  border-radius: 5px;
  border-width: 1px;
  margin: 10px;
}

.editorWrapper {
  display: flex;
  flex-grow: 1;
  flex-shrink: 1;
  flex-direction: column;
  background-color: #1e1e1e;
  min-width: 200px;
  width: 25%;
}

.landing {
  text-align: left;
  display: flex;
  color: #3dc9b0;
  flex-direction: column;
  justify-content: space-evenly;
  width: 50%;
  padding: 80px;
}

.error {
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: rgb(255, 48, 29);
  text-align: left;
  white-space: pre-wrap;
}
.selectBox {
  height: 6vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

h4 {
  margin: 0;
  height: 8vh;
  line-height: 8vh;
  vertical-align: center;
}

h3 {
  margin: 0;
  padding: 5px 0 5px 20px;
  text-align: left;
}

p {
  text-align: left;
  padding-left: 20px;
  margin: 10px 0;
}

.sourceLineDec {
  color: rgb(47, 247, 234);
  width: 100% !important;
  margin-left: 3px;
}

.sourceLineDec::before {
  content: ">>";
}
